*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  outline: 0;
  word-break: break-word; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

body {
  margin: 0; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none; }

button,
input {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  border: 0;
  outline: 0; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2rem; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

label {
  margin-bottom: 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

:root {
  --ff: 'Rubik', sans-serif;
  --transition: .2s all ease-in-out;
  --c-primary: #ED9902;
  --c-white: #fff;
  --c-dark1: #21201E;
  --c-dark2: #2D2B29;
  --c-body: #9B968B; }

html {
  font-size: 1px;
  scroll-behavior: smooth; }

body {
  font-family: var(--ff);
  background: var(--c-dark1);
  color: var(--c-white); }

html._overflow {
  overflow: hidden; }
  html._overflow body {
    overflow: hidden; }

a {
  color: var(--c-white); }

.container {
  max-width: calc(1140rem + 40rem);
  padding: 0 20rem;
  width: 100%;
  margin-inline: auto; }

section {
  padding-bottom: 90rem;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.15); }
  @media (max-width: 576px) {
    section {
      padding-bottom: 50rem; } }

.btn {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 5rem;
  padding: 13rem 18rem;
  transition: var(--transition);
  color: var(--c-white);
  font-family: var(--ff);
  font-size: 16rem;
  font-weight: 500; }
  .btn_primary {
    background: var(--c-primary); }
    .btn_primary:hover {
      background: #d48902; }

.title {
  margin-top: 90rem;
  font-size: 44rem;
  color: var(--c-white);
  font-weight: 700;
  margin-bottom: 17rem; }
  @media (max-width: 576px) {
    .title {
      font-size: 32rem;
      margin-top: 50rem; } }
  .title span {
    color: var(--c-primary); }

.desc {
  color: var(--c-body);
  font-size: 16rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 460rem;
  margin-bottom: 40rem; }
  @media (max-width: 576px) {
    .desc {
      font-size: 14rem; } }

*::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0); }

* ::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: #d1d1d1; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37rem 0rem;
  border-bottom: 1rem solid var(--c-border); }
  .header__backdrop {
    display: none; }
    @media (max-width: 992px) {
      .header__backdrop {
        transform: translateX(120%);
        display: block;
        transition: var(--transition);
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0; } }
  .header__logo {
    color: var(--c-white);
    font-size: 28rem;
    font-weight: 700;
    display: inline-flex; }
    .header__logo span {
      color: var(--c-primary); }
  .header__ul {
    display: flex;
    align-items: center;
    gap: 24rem;
    z-index: 1; }
    @media (max-width: 992px) {
      .header__ul {
        position: fixed;
        width: 70%;
        height: 100%;
        flex-direction: column;
        left: 0;
        top: 0;
        background: var(--c-primary);
        align-items: center;
        justify-content: center;
        transform: translateX(-120%);
        transition: var(--transition); } }
    .header__ul._active {
      transform: translateX(0); }
    .header__ul._active ~ .header__backdrop {
      transform: translateX(0); }
    .header__ul .icon-close {
      position: absolute;
      top: 40rem;
      right: 40rem;
      color: var(--c-white); }
  .header__a {
    color: var(--c-white);
    font-size: 16rem;
    font-weight: 400;
    transition: var(--transition); }
    .header__a.is-active, .header__a:hover {
      color: var(--c-primary); }
      @media (max-width: 992px) {
        .header__a.is-active, .header__a:hover {
          color: var(--c-dark1); } }

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none; }
  @media (max-width: 992px) {
    .icon-menu,
    .icon-close {
      display: inline-block;
      font-size: 40rem; } }

.welcome {
  margin-top: 51rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;
  padding-bottom: 153rem; }
  @media (max-width: 992px) {
    .welcome {
      gap: 70rem;
      flex-direction: column-reverse; } }
  @media (max-width: 576px) {
    .welcome {
      margin-top: 20rem;
      padding-bottom: 50rem; } }
  @media (max-width: 380px) {
    .welcome {
      gap: 40rem; } }
  .welcome__title {
    color: var(--c-white);
    font-size: 92rem;
    font-weight: 700;
    margin-bottom: 24rem; }
    @media (max-width: 1200px) {
      .welcome__title {
        font-size: 50rem; } }
    @media (max-width: 576px) {
      .welcome__title {
        font-size: 32rem; } }
  .welcome__roles {
    display: flex;
    gap: 27rem;
    color: var(--c-white);
    font-size: 18rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 24rem; }
    @media (max-width: 1200px) {
      .welcome__roles {
        font-size: 16rem; } }
    @media (max-width: 576px) {
      .welcome__roles {
        flex-wrap: wrap;
        gap: 20rem; }
        .welcome__roles small {
          display: none; } }
  .welcome__desc {
    color: var(--c-body);
    font-size: 16rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24rem;
    max-width: 557rem; }
    @media (max-width: 1200px) {
      .welcome__desc {
        font-size: 14rem; } }
  .welcome__img {
    flex-shrink: 0;
    border-radius: 50%;
    outline: 10rem solid var(--c-primary);
    box-shadow: 0rem 15rem 14rem 0rem rgba(0, 0, 0, 0.59);
    max-width: 460rem;
    width: 100%;
    aspect-ratio: 1; }
    @media (max-width: 1200px) {
      .welcome__img {
        flex-shrink: initial; } }
    @media (max-width: 576px) {
      .welcome__img {
        width: 70%; } }
    @media (max-width: 380px) {
      .welcome__img {
        width: 40%; } }
    .welcome__img img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover; }

.service__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26rem; }
  @media (max-width: 992px) {
    .service__list {
      grid-template-columns: 1fr; } }

.service-item {
  border-radius: 8rem;
  background: var(--c-dark2);
  padding: 32rem;
  display: flex;
  gap: 20rem; }
  @media (max-width: 576px) {
    .service-item {
      flex-direction: column;
      padding: 20rem; } }
  .service-item__img {
    flex-shrink: 0;
    border-radius: 10rem;
    background: var(--c-dark1);
    width: 76rem;
    height: 76rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .service-item__img svg path:first-child {
      fill: var(--c-primary); }
    .service-item__img svg path:last-child {
      stroke: var(--c-primary); }
  .service-item__title {
    color: var(--c-white);
    font-size: 22rem;
    font-weight: 500;
    margin-bottom: 17rem; }
  .service-item__desc {
    color: var(--c-body);
    font-size: 16rem;
    font-weight: 400;
    line-height: 160%; }

.portfolio__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 26rem; }
  @media (max-width: 768px) {
    .portfolio__list {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 576px) {
    .portfolio__list {
      grid-template-columns: 1fr; } }

.portfolio-item {
  position: relative; }
  .portfolio-item:hover .portfolio-item__search {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .portfolio-item__search {
    width: 76rem;
    cursor: pointer;
    height: 76rem;
    background: var(--c-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: var(--transition);
    transform: translate(-50%, -50%) scale(0); }
  .portfolio-item__img {
    border-radius: 8rem;
    overflow: hidden; }
    .portfolio-item__img img {
      border-radius: 8rem;
      width: 100%;
      object-fit: cover;
      transition: var(--transition); }
      .portfolio-item__img img:hover {
        transform: scale(1.3); }

.customers__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26rem; }
  @media (max-width: 992px) {
    .customers__list {
      grid-template-columns: 1fr; } }

.customers__item {
  border-radius: 8rem;
  background: var(--c-dark2);
  padding: 32rem;
  gap: 20rem; }
  .customers__item__desc {
    color: var(--c-white);
    font-size: 18rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 28rem; }
  .customers__item__author {
    display: flex;
    align-items: center;
    gap: 20rem; }
  .customers__item__name {
    display: flex;
    flex-direction: column; }
  .customers__item__surname {
    color: var(--c-white);
    font-size: 18rem;
    font-weight: 500;
    line-height: 160%; }
  .customers__item__role {
    color: var(--c-primary);
    font-size: 18rem;
    font-weight: 400;
    line-height: 160%; }

.pricing__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(299rem, 1fr));
  gap: 26rem; }
.pricing__item {
  border-radius: 8rem;
  background: var(--c-dark2);
  padding: 32rem; }
.pricing__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 35rem;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.15); }
  @media (max-width: 576px) {
    .pricing__info {
      padding-bottom: 10rem; } }
.pricing__type {
  color: var(--c-white);
  font-size: 16rem;
  font-weight: 500;
  text-transform: uppercase; }
.pricing__price {
  color: var(--c-white);
  font-size: 44rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 14rem 0 14rem 0; }
  @media (max-width: 576px) {
    .pricing__price {
      margin: 10rem 0 10rem 0; } }
.pricing__desc {
  color: var(--c-body);
  font-size: 14rem;
  font-weight: 400;
  line-height: 160%; }
.pricing__btn {
  border: 1rem solid var(--c-primary);
  margin: 35rem 0 35rem 0;
  transition: var(--transition); }
  @media (max-width: 576px) {
    .pricing__btn {
      margin: 15rem 0 15rem 0; } }
  .pricing__btn:hover {
    background: var(--c-primary); }
.pricing__function {
  display: flex;
  align-items: center;
  gap: 12rem; }
.pricing__select {
  margin-bottom: 21rem; }
.pricing__option {
  color: #a19a8b;
  font-size: 16rem;
  font-weight: 400;
  margin-bottom: 21rem; }

.touch {
  border-bottom: none; }
  .touch__form {
    display: flex;
    flex-direction: column;
    gap: 24rem; }
  .touch__name, .touch__email {
    display: block;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 14rem 0 14rem 16rem;
    border-radius: 4rem;
    border: 1rem solid rgba(255, 255, 255, 0.15);
    background: var(--c-dark1);
    transition: var(--transition);
    color: var(--c-body);
    font-family: var(--ff);
    font-size: 14rem;
    font-weight: 400; }
    .touch__name:focus, .touch__email:focus {
      border-color: var(--c-primary);
      color: var(--c-white); }
  .touch__textarea {
    display: block;
    width: 100%;
    outline: 0;
    border: 0;
    min-height: 120rem;
    max-height: 300rem;
    resize: vertical;
    border-radius: 4rem;
    border: 1rem solid rgba(255, 255, 255, 0.15);
    background: var(--c-dark1);
    padding-top: 14rem;
    padding-left: 16rem;
    transition: var(--transition);
    color: var(--c-body);
    font-family: var(--ff);
    font-size: 14rem;
    font-weight: 400; }
    .touch__textarea:focus {
      border-color: var(--c-primary);
      color: var(--c-white); }
  .touch__btn {
    border: 1rem solid var(--c-primary); }

.footer {
  background: var(--c-dark2);
  padding-top: 54rem;
  padding-bottom: 54rem; }
  @media (max-width: 768px) {
    .footer {
      padding-top: 35rem;
      padding-bottom: 35rem; } }
  .footer__footer {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .footer__footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20rem; } }
  .footer__info {
    color: var(--c-white);
    font-size: 16rem;
    font-weight: 400; }
    .footer__info span {
      color: var(--c-primary); }
  .footer__socials {
    gap: 34rem;
    display: flex; }
  .footer__a {
    color: var(--c-white);
    font-size: 16rem;
    font-weight: 400; }
    .footer__a:hover {
      color: var(--c-primary); }

/*# sourceMappingURL=style.css.map */
