.customers {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26rem;
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
}

.customers__item {
    border-radius: 8rem;
    background: var(--c-dark2);
    padding: 32rem;
    gap: 20rem;

    &__desc {
      color: var(--c-white);
      font-size: 18rem;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 28rem;
    }

    &__author {
      display: flex;
      align-items: center;
      gap: 20rem;
  
    }
    &__name {
      display: flex;
      flex-direction: column;
    }

    &__surname {
      color: var(--c-white);
      font-size: 18rem;
      font-weight: 500;
      line-height: 160%;
    }
    
    &__role {
      color: var(--c-primary);
      font-size: 18rem;
      font-weight: 400;
      line-height: 160%;
    }
  }