.header {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1000;
//   background-color: var(--c-dark1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37rem 0rem;
  border-bottom: 1rem solid var(--c-border);



  &__backdrop {
    display: none;

    @include tablet {
      transform: translateX(120%);
      display: block;
      transition: var(--transition);
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
    }
  }

  &__logo {
    color: var(--c-white);
    font-size: 28rem;
    font-weight: 700;
    display: inline-flex;

    span {
      color: var(--c-primary);
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 24rem;
    z-index: 1;

    @include tablet {
      position: fixed;
      width: 70%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: var(--c-primary);
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    &._active {
      transform: translateX(0);
    }

    &._active ~ .header__backdrop {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40rem;
      right: 40rem;
      color: var(--c-white);
    }
  }

  &__a {
    color: var(--c-white);
    font-size: 16rem;
    font-weight: 400;
    transition: var(--transition);

    &.is-active,
    &:hover {
      color: var(--c-primary);
      @include tablet {
        color: var(--c-dark1);
      }
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
    display: inline-block;
    font-size: 40rem;
  }
}
